<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    
    <add key="filePath" value="C:\Ariff\HSO\11.November2017.xlsx"/>
    
    <add key="db.server" value="agitdb.database.windows.net"/>
    <add key="db.catalog" value="LeadIntelligenceDB"/>
    <add key="db.username" value="agit"/>
    <add key="db.password" value="@git123456789"/>
    
    <!--<add key="db.server" value="NB-ARIFF\MSSQLSERVER14"/>
    <add key="db.catalog" value="LeadIntelligenceDB"/>
    <add key="db.username" value="sa"/>
    <add key="db.password" value="P@ssw0rd"/>-->
  
  </appSettings>
</configuration>