<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=astradigital.database.windows.net;Initial Catalog=AdpIntegrationLayer;User ID=ai;Password=1Qaz2wsx3edc" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices2" connectionString="Data Source=localhost;Initial Catalog=AdpIntegrationLayer; Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AIADPDummyWebAPIContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=AIADPDummyWebAPIContext-20170811082551; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|AIADPDummyWebAPIContext-20170811082551.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>